.review-spot-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
}

.review-navbar-space-holder {
    height: 6em;
    width: 100%;
    /* background-color: blue; */
}

.sub-review-spot-container {
    /* border: 2px solid black; */
    height: 100%;
    width: 70em;
}

.review-spot-review-star {
    padding-top: 2em;
    font-size: 1.25em;
    font-weight: bold;
}

.review-spot-review-star i{
    color: red;
}

.reveiw-spot-six-fields {
    display: flex;
    justify-content: space-between;
    /* padding: 1em; */
    margin-top: 2em;
}

.review-spot-left, .review-spot-right {
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: flex-start; */
    margin-top: 2em;
    /* border: 2px solid black; */
    width: 70.5em;
    height: 35em;
}

.review-book-now-btn {
    width: 100%;
    height: 3.5em;
    border-radius: .5em;
    font-size: 1.25em;
}

.review-book-now-btn > button.is-logged-in:hover {
    background-color: black;
    color: white;
    transition: .5s;
}