.calender-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 1em;
    width: 40em;
    margin-top: 4em;
    border-radius: 1em;
    margin-left: -25%;
    background-color: white;
    border: 2px solid black;

}

.calender-container > button {
    width: 10em;
    font-size: 2em;
    border-radius: 1em;
    align-self: center;
}

.calender-container > .react-calender {
    margin-bottom: 1em;
}

.calender-container > span {
    align-self: center;
    font-size: 2em;
    margin-bottom: .5em;
}

.white-space-check-in {
    margin-left: -25%;
    width: 40em; 
    height: 10em;
    position: absolute;
}
