.demo-form__signup {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 300px;
    justify-content: space-between;
    /* background-color: cad; */
    /* box-sizing: border-box; */
    padding: 20px;
    border-radius: 1em;
}

.demo-form__signup input {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
    box-sizing: border-box;
    /* height: 30px; */
    font-size: 30px;
}

.demo-form__signup > ul {
    color: red;
}

.demo-form__signup button {
    font-size: 2em;
    padding: .25em;
    border-radius: 1em;
}

.demo-form__signup button:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    transition: .5s;
}