@keyframes colorChange {
    from {
        color:blue
    }
    to {
        color:skyblue
    }
}

.home-page-top {
    /* position: relative; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* top: -1em; */
    height: 100vh;
    width: 100vw;
}

.img-container {
    background-image: url(./images/airbnb-home.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    margin-top: 6em;
    height: 80%;
    width: 90%;
    border: 5px solid black
}

.fa-chevron-circle-down {
    font-size: 2em;
    animation: colorChange 1s linear 0s infinite alternate;
}

.link {
    z-index: 0;
    position: absolute;
    bottom: .5em;
}