.home-page-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.img-container {
    background-image: url(./images/airbnb-home.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 80%;
    width: 90%;
    border: 5px solid black
}