.booking-form {
    height: 30em;
    width: 30em;
    /* background-color: black; */
    /* opacity: .5; */
    border-radius: 1em;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #E6E6E6;
}

.calender {
    height: 10em;
    width: 10em;
}