/* .form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 100%;
    width: 100%;
} */

.form__login {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 300px;
    justify-content: space-between;
    /* background-color: cad; */
    /* box-sizing: border-box; */
    padding: 20px;
    border-radius: 1em;
}

.form__login input {
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
    box-sizing: border-box;
    /* height: 30px; */
    font-size: 30px;
}

.form__login > ul {
    color: red;
}