.profile-btn-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* top: 3em; */
    margin-top: 1em;
    padding: 1em;
    width: 10em;
    border: 1px solid black;
    background-color: white;
    border-radius: 1em;
    margin-left: -50%;
}

.profile-btn-dropdown > div {
    margin-bottom: 1em;
    transition: .5s;
}

.profile-btn-dropdown > div:hover {
    background-color: rgb(114, 114, 114);
    color: white;
}

.profile-btn-dropdown div:last-child {
    margin-bottom: 0em;
}

.spacer-div {
    position: absolute;
    height: 1em;
    width: 10em;
    margin-left: -50%;
    /* margin-left: 2em; */
}